* {
	box-sizing: border-box;
}

body {
	display: flex;
	border: 1px solid black;
	width: 50%;
	height: 768px;
	flex-direction: row;
	color: white;
	font-size: 30px;
	text-align: center;
	justify-items: center;
}

body div.container {
	width: 100%;
}

.container {
	padding: 10px;
}

header, .top {
	background-color: rgb(109, 139, 238);
	padding: 3px;

}

.top, .bottom {
	height: 40px;
}

section {
	display: grid;
	gap: 10px 10px;
	height: 660px;
	padding: 10px 0px 10px 0px;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 2fr 2fr 1fr 1fr;
	grid-template-areas: 
		"hero hero main main"
		"sidebar sidebar main main"
		"sidebar sidebar extra extra"
		"related related related posts";
}

.lightpurple {
	grid-area: hero;
	background-color: rgb(201, 144, 201);
}

.yellow {
	grid-area: main;
	background: rgb(241, 218, 3);
/*	grid-column: 2 / span 2;	
	grid-row: 1 / span 2; */
}

.lightgreen {
	grid-area: sidebar;
	background-color: rgb(184, 218, 118);
/*	grid-row: 2 / span 2; */
}

.grey {
	grid-area: extra;
	background-color: grey;
/*	grid-column: 2 / span 2; */
}

.green {
	grid-area: related; 
	background-color: green;
/*	grid-column: 1 / span 2; */
}

.lightpink {
	grid-area: posts;
	background-color: lightpink;
}

footer {
	background-color: rgb(209, 178, 38);
}

