html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Raleway";
}

.nav-bg {
	background-color: lightslategrey;
}

.nav-link{
	color: red !important;
}

hr {
	max-width: 65px;
	border-width: 2px;
	border-color: slategrey;
}

header.hello {
	background-image: url("/home/rinav/Developers-Institute/PortfolioProject/images/portfolio/Classic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
	margin: 0;
	max-width: unset;
}


.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
 	background: linear-gradient(to bottom, transparent 0%, black 100%);
	top: 0;
	left: 0;
	right: 0;
}

header.hello h1 {
	text-align: center;
	font-size: 2rem;;
}

header.startup hr {
	margin-top: 200px;
	margin-bottom: 30px;
}


@import url("https://fonts.googleapis.com/css?family=Raleway");