* {
	box-sizing: border-box;

}

body {
	border: 2px solid black;
	width: 500px;
}

.top {
	height: 30px;
	border-bottom: 2px solid black;
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
}

section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(4, 1fr);
	gap: 20px 20px;
	height: 500px;
	padding: 30px;
}

section > div {
	border: 2px solid black;
}

.red {
	background-color: lightcoral;
}

.blue {
	background-color: rgb(84, 162, 240);
}

.yellow {
	background-color: khaki;
	grid-column: 1 / span 2;
}