body {
	background-image: url(https://image.api.playstation.com/vulcan/img/rnd/202010/2716/EN4RmIEX4nyQfWv6Vzi2eQ4g.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	color: firebrick;
	font-variant: all-small-caps;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation-bar li {
	float: right;
}

li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.tony {
	margin-top: 10px;
	float: right;
	border: 1px solid black;
	height: 250px;
}

.bio {
	font-size:smaller;
	font-style: oblique;
	color: orangered;
	text-shadow: 1px 1px slategrey;
}

.footer-bar {
	position: fixed;
   	left: 7px;							
   	right: 7px;
	bottom: 7px;
}

.footer-bar li {
	float: left;
}


